header {
	background: url(../img/header_bg.jpg) no-repeat center center / cover;
	height: 500px;
}

footer {
	background: #eee;
	color: #999;
	padding: 15px;
	text-align: center;
	box-shadow: inset 0px 12px 10px -10px rgba(0, 0, 0, 0.7);
}

#heading {
	margin: 0;
}

.logo {
	height: 80px;
	float: left;
}

nav {
	float: right;
	margin-top: 30px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 15px;
}

.menu .btn {
	padding-right: 20px;
	padding-left: 20px;
}