<header>
	<div class="container">
		<div class="clearfix" id="heading">
			<img src="/img/logo_white.png" alt="logo" class="logo">
			<nav>
				<ul class="menu">
					<li>
						<a class="btn" href="/index.html">
							<span>Заказать билет</span>
						</a>
					</li>
					<li>
						<a class="btn" href="/html/login.html">
							<span>Войти</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="title_first">
			<h1>трансгалактическая <br> железная дорога*</h1>
			<p class="addition">*работает только на территории Российской Федерации</p>
		</div>
	</div>
</header>